@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@500&display=swap');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --black-100: #1F1C1C;
  --black-75: #575555;
  --black-50: #8F8D8D;
  --black-25: #C7C6C6;
  --black-10: #E9E8E8;
  --white: #fff;

  --primary-clr: #F93D3D;
  --primary-clr-l1: #FB6E6E;
  --primary-clr-l2: #FC9E9E;
  --primary-clr-l3: #FECFCF;
  --primary-clr-d1: #BB2E2E;
  --primary-clr-d2: #7D1E1E;
  --primary-clr-d3: #3E0F0F;

  --secondary-clr: #2B457D;
  --secondary-clr-l1: #5ABDFB;
  --secondary-clr-l2: #91D3FD;
  --secondary-clr-l3: #C8E9FE;
  --secondary-clr-d1: #1A7DBB;
  --secondary-clr-d2: #11537D;
  --secondary-clr-d3: #092A3F;

  --primary-font: 'Montserrat';
  --secondary-font: 'Lora', serif;

}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


button {

}
button:hover {

}
button:focus,
button:focus-visible {
}

/* ------ */

.left {
  background: var(--secondary-clr-d2);
  width: 66vw;
  height: 100vh;
}


.left .top {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.left .top .align-left h1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bolder;
  font-size: 56px;
  line-height: 68px;
  text-transform: uppercase;
  color: var(--white)
}

.left .top .align-left h3 {
  font-family: 'Lora';
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 36px;
color: var(--secondary-clr-l3);
}