/* Debug */
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,500;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
* {
  border: 1px solid red;
}

/* End debug */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --left-bg-clr: #123d81;
  --main-font: "Montserrat", sans-serif;
  --scnd-font: "Lora", serif;
}

body {
  display: flex;
  flex-direction: row;
}

.left {
  flex-grow: 2;
  min-width: 66vw;
  max-width: 66vw;
  max-height: 100vh;
  min-height: 100vh;
  background: var(--left-bg-clr);
}

.left > * {
  margin-top: clamp(7%, 60px, 17%);
  margin-left: 10%;
}

.left h1 {
  color: white;
  font-family: var(--main-font);
}

.title-description > h3 {
  color: #dddddd;
  opacity: 0.7;
  font-family: var(--scnd-font);
  font-weight: 500;
  font-style: italic;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

#new-book-submission {
  min-height: 40vh;
  max-width: 80%;
  background: #f93d3d;
  box-shadow: 1.5em 1.5em 0px rgba(0, 0, 0, 0.25);
  padding: 2em 2.2em;
  color: white;
}

#new-book-submission .top-div {
  font-family: var(--main-font);
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: calc(7em / 4em);
}

.bottom-div {
  display: flex;
  font-family: var(--scnd-font);
  font-style: italic;
}

.bottom-div label {
  margin-right: 2em;
}

.self {
  min-width: 10ch;
  max-width: 10ch;
  text-align: right;
  background: blue;
}
